ml-floating-button {
    .ion-color-dark {
        --ion-color-base: var(--theme-sunflower) !important;
    }
    svg {
        color:white !important;
    }
    ion-button {
        --background: none;
        --box-shadow: none;
        --background-hover: none;
        --background-focused: none;
    }
    // .fab-horizontal-end {
    //     right: 11rem;
    // }
    .button-wrapper {
        ion-icon {
            font-size: 36px;
            position: absolute;
            color: var(--theme-sunflower);
        }
    }

    .fab-label {
        display: none;
    }
}
