.apps { 
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    position: relative;
}

.col {
    width: 50%;
    padding-left: 15px;
    position: relative;
    z-index: 10;
}

.col1 h2 {
    display: block;
}
.col2 h2 {
    display: none;
    text-align: center;
}    

.background-image {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: .3;
}

.apps-pager h3 {
    padding-bottom: 10px;
}

.apps-pager span {
    margin-right: 20px;
}

ion-slides {
    margin-top: 30px !important;
}
.top-slider {
    width: 178px;
    margin: 0 auto;
}
ion-slide {
    height: 350px !important;
}
.move-slider {
    cursor: pointer;
}
.move-slider ion-icon {
    font-size: 48px;
    color: white;
}
.swiper-pagination.swiper-pagination-bullets {
    display: none !important;
}
.swiper-pagination-bullets {
    display: none !important;
}
.phone {
    position: absolute;
    z-index: 10;
    width: 200px;
    height: 350px;
    top: 40px;
    left:152px;
}
ion-slides .view-image {
    position: relative;
    z-index: 5;
    max-width: 160px;
}
.custom-pager-wrapper {
    display: flex;
    margin-top: 50px !important;
}
.custom-pager {
    display: flex;
    height: 50px;
    margin-top: 0px !important;
}
.custom-pager-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    max-width: 270px;
    height: 50px !important;
}
.custom-pager .custom-pager-icon img {
    width: 50px;
    height: auto;
    margin: 10px;
}
@media (max-width: 760px){
    .apps {
        flex-direction: column;
        justify-content: center;
    }
    .col {
        margin: 0 auto;
    }
    .col1 {
        order: 2;
    }
    .col2 {
        order: 1;
    }
    .col1 h2 {
        display: none;
    }
    .col2 h2 {
        display: block;
    }    
}
/* ios-phone-portrait */
/* --bullet-background */
