raf-apps .apps {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    position: relative;
}

raf-apps .col {
    width: 50%;
    padding-left: 15px;
    position: relative;
    z-index: 10;
}

raf-apps .background-image {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
raf-apps .swiper-pagination-bullet {
    background: pink;
}
raf-apps ion-slides {
    height: 120%;
}
raf-apps .swiper-wrapper {
    height: 70%;
}
/* --bullet-background */
