@keyframes easeDownFadeIn {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 0.5;
  }
}

@keyframes easeRightFadeIn {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(0.8);
    opacity: 0.8;
  }
  20% {
    transform: scale(1);
    opacity: 1;
  }
  40% {
    transform: scale(0.8);
    opacity: 0.8;
  }
  60% {
    transform: scale(1);
    opacity: 1;
  }
  80% {
    transform: scale(0.8);
    opacity: 0.8;
  }
  100% {
    transform: scale(0.8);
    opacity: 0.8;
  }
}

:host,
.nav-warpper {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

video {
  position: absolute;
  top: 60%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -60%);
}

ml-latest-post {
  position: absolute;
  top: 30px;
  right: 30px;
}

h1.name {
  animation: easeDownFadeIn 2s ease-in forwards;
  position: absolute;
  top: 35vh;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0 30px;
  font-family: var(--theme-font-primary);
  opacity: 0;
  display: block;
  font-weight: 900;
  font-size: 72px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h2.tagline {
  animation: easeRightFadeIn 2s ease-in 1s forwards;
  position: absolute;
  top: 50vh;
  font-size: 80px;
  letter-spacing: 2px;
  color: var(--ion-color-light);
  font-family: var(--theme-font-secondary);
  padding: 0 30px;
  text-align: center;
  left: 0;
  right: 0;
  opacity: 0;
  text-shadow: 0px 3px 6px rgba(var(--ion-color-dark-rgb), 0.8);
}

img.logo {
  animation: heartbeat 1s ease-in-out infinite;
  display: inline-block;
  width: 25vw;
  padding-left: 2vw;
  margin-bottom: -10vw;
  opacity: 0.8;
}

ion-grid {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 30px;
  background: -moz-linear-gradient(
    top,
    rgba(var(--ion-color-dark-rgb), 0) 20%,
    rgba(var(--ion-color-dark-rgb), 1) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(var(--ion-color-dark-rgb), 0) 20%,
    rgba(var(--ion-color-dark-rgb), 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(var(--ion-color-dark-rgb), 0) 20%,
    rgba(var(--ion-color-dark-rgb), 1) 100%
  );
}

ion-row {
  margin: 0 auto;
  max-width: 1024px;
}

ion-item {
  --background: transparent;
  background: transparent;
  --border-color: var(--ion-color-primary);
  --padding-start: 0;
  color: var(--ion-color-primary);
  font-size: 22px;
  font-weight: bold;
  transition: all ease-in 0.3s;
}

ion-item ion-label {
  font-family: var(--theme-font-primary) !important;
  letter-spacing: 2px;
  padding-left: 10px;
}

ion-item ion-icon {
  transition: all ease-in 0.3s;
  color: var(--ion-color-primary);
}

ion-item:hover {
  --border-color: var(--ion-color-secondary);
  text-shadow: 2px 2px rgba(var(--ion-color-primary), 0.4);
  color: var(--ion-color-light) !important;
  background: -moz-linear-gradient(
    top,
    rgba(var(--ion-color-secondary-rgb), 0) 50%,
    rgba(var(--ion-color-secondary-rgb), 0.3) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(var(--ion-color-secondary-rgb), 0) 50%,
    rgba(var(--ion-color-secondary-rgb), 0.3) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(var(--ion-color-secondary-rgb), 0) 50%,
    rgba(var(--ion-color-secondary-rgb), 0.3) 100%
  );
}

ion-item:hover ion-icon {
  color: var(--ion-color-light);
}

.active ion-item {
  color: var(--ion-color-secondary);
  --border-color: var(--ion-color-secondary);
}

.active ion-item ion-icon {
  color: var(--ion-color-secondary);
}

@media only screen and (max-width: 800px) {
  ion-item ion-label {
    font-size: 11px !important;
    width: 100%;
    display: block;
    padding: 0;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    text-align: center;
  }

  ion-item ion-icon {
    transition: all ease-in 0.3s;
    color: var(--ion-color-primary);
    display: block;
    margin: 0 auto 30px;
    padding-left: 10px;
    height: 30px;
    width: 30px;
  }
}
