ml-home {
	.video-container {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 100%; 
		overflow: hidden;
	}	
	.video-container video {
		/* Make video to at least 100% wide and tall */
		min-width: 100%; 
		min-height: 100%; 
		
		/* Setting width & height to auto prevents the browser from stretching or squishing the video */
		width: auto;
		height: auto;
		
		/* Center the video */
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}	
	.bottom-nav {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		background: none;
		ion-list {
			display: flex;
			border: none;
			justify-content: center;
			align-items: center;
			--ion-background-color: none;
			ion-item {
				height: 100%;
				width: 25%;
				flex-wrap: nowrap;
				display: flex;
				border: none;
				margin: 0 auto;
				color: var(--theme-sunflower);
				ion-icon {
					margin: 0 auto;
					font-size: 36px;
					color: black !important;
				}
				.login-logo {
					cursor: pointer;
				}
			}
		}		
	}

}

