.wrapper {
  width: 100%;
  margin-top: 50px;
}
.line {
  border-bottom: 3px solid white;
  width: 40%;
  position: relative;
  bottom: 23px;
}
img {
  display: block;
  width: 45px;
  margin: 0 auto;
}
.line2 {
  border-bottom: 3px solid white;
  width: 40%;
  margin-left: 60%;
  position: relative;
  bottom: 26px;
}
